@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User

@(admin: User, listOfDishes: Array[Dish])(implicit messages: play.api.i18n.Messages)
@main("Dishes", admin, isUserAdmin = true) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getNewDish">Create new</a></li>
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All dishes</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            <label>List of dishes</label>
            @for(index <- listOfDishes.indices) {
                <div class="form-group  " id="dishesUuid[]">
                    <div class="checkbox">
                        <label for="@listOfDishes(index).uuid">
                            <input type="checkbox" id="@listOfDishes(index).uuid" name="@listOfDishes(index).uuid">
                            <a href="@lunatech.lunchplanner.controllers.routes.DishController.getDishDetails(listOfDishes(index).uuid)">@listOfDishes(index).name</a>
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

}
