@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.MenuWithDishes
@import lunatech.lunchplanner.viewModels.MenuForm

@(activeTab: Int = 0, admin: User, menuForm: Form[MenuForm], listOfDishes: Array[Dish], listOfMenus: Array[MenuWithDishes])(implicit messages: play.api.i18n.Messages)
@main("Overview", admin, isUserAdmin = true) {
<h2>Menus</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="@if(activeTab == 0){ active }"><a data-toggle="tab" href="#newMenu">Create menu</a></li>
    <li role="presentation" class="@if(activeTab == 1){ active }"><a data-toggle="tab" href="#list">All menus</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane @if(activeTab == 0){ active }" id="newMenu">
        <div>
            <br>
            <label>Create new menu</label>
            @helper.form(lunatech.lunchplanner.controllers.routes.MenuController.createNewMenu) {
                @b3.text( menuForm("menuName"), '_label -> "Name", 'placeholder -> "Short menu name" )

                @for(index <- listOfDishes.indices) {
                    @b3.checkbox( menuForm("dishesUuid[]"), '_text -> listOfDishes(index).name, 'value -> listOfDishes(index).uuid)
                }
                @b3.submit('class -> "btn btn-primary"){ Create Menu }
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane @if(activeTab == 1){ active }" id="list">
        <div>
            <br>
            <label>List of menus</label>
            @for(index <- listOfMenus.indices) {
                @b3.checkbox( menuForm("uuid"), '_text -> listOfMenus(index).name, 'value -> listOfDishes(index).uuid)
                @for(dishIndex <- listOfMenus(index).listOfDishes.indices) {
                    <label style="font-weight: normal">@listOfMenus(index).listOfDishes(dishIndex).name</label> <br>
                    }
            }
        </div>
    </div>
</div>

}

