@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.MenuWithDishes
@import lunatech.lunchplanner.models.MenuWithNamePerDay
@import lunatech.lunchplanner.viewModels.MenuPerDayForm

@(activeTab: Int = 0, admin: User, menuPerDayForm: Form[MenuPerDayForm], listOfMenus: Array[MenuWithDishes], menuOptions: Seq[(String,String)], listOfMenusPerDay: Array[MenuWithNamePerDay])(implicit messages: play.api.i18n.Messages)
@main("Overview", admin, isUserAdmin = true) {

<h2>Schedule</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="@if(activeTab == 0){ active }"><a data-toggle="tab" href="#newSchedule">Create menu schedule</a></li>
    <li role="presentation" class="@if(activeTab == 1){ active }"><a data-toggle="tab" href="#list">All schedules</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- Menus Per Day -->
    <div role="tabpanel" class="tab-pane @if(activeTab == 0){ active }" id="newSchedule">
        <div>
            <br>
            <label>Associate a menu to a date</label>
            @helper.form(lunatech.lunchplanner.controllers.routes.MenuPerDayController.createNewMenuPerDay) {
                @datepicker(menuPerDayForm("date"), 'value -> "2017-05-01")(
                    '_label -> "Date")
                @b3.select(menuPerDayForm("menuUuid"), options = menuOptions, '_label -> "Select menu", '_default -> "Select an option")
                @b3.submit('class -> "btn btn-primary") { Associate menu with date }
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane @if(activeTab == 1){ active }" id="list">
        <div>
            <br>
            <label>List of menus per day</label>
            @for(index <- listOfMenusPerDay.indices) {
                @b3.checkbox( menuPerDayForm("uuid[]"), '_text -> (listOfMenusPerDay(index).menuDateAndName + " (" + listOfMenusPerDay(index).numberOfPeopleSignedIn + " people attending)"), 'value -> listOfMenusPerDay(index).uuid)
            }
        </div>
    </div>
</div>
}
