<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- changed the encoder -->
    <encoder class="com.newrelic.logging.logback.NewRelicEncoder"/>
  </appender>

  <!-- added the ASYNC appender -->
  <appender name="ASYNC" class="com.newrelic.logging.logback.NewRelicAsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />

  <root level="INFO">
    <appender-ref ref="ASYNC" />
  </root>

</configuration>
