@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.DishForm

@(admin: User, dishForm: Form[DishForm], dishOption: Option[Dish])(implicit messages: play.api.i18n.Messages)
@main("Dish details", admin, isUserAdmin = true) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes">All dishes</a></li>
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getNewDish">Create new</a></li>
    <li role="presentation" class="active"><a data-toggle="tab" href="#dishDetails">Dish details</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dishDetails">
        <br>
        @dishOption match {
            case None => { <label>Error retrieving the dish!!</label> }
            case Some(dish) => {
                @b3.form(lunatech.lunchplanner.controllers.routes.DishController.saveDishDetails(dish.uuid)) {
                <div class="row">
                    <div class="col col-lg-6">
                        @b3.text( dishForm("name"), '_label -> "Name", 'placeholder -> "Short dish name", 'value -> dish.name)
                        @b3.textarea( dishForm("description"), '_label -> "Description",  'placeholder -> "Dish description", 'rows -> 4, 'value -> dish.description)
                        @b3.text( dishForm("remarks"), '_label -> "Additional remarks", 'placeholder -> "Optional", 'value -> dish.remarks.getOrElse(""))
                        <div class="col col-lg-2" style="padding-left: 0">
                            <a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span> Cancel </a>
                        </div>
                        <div class="col col-lg-2">
                        @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save }
                        </div>
                        <div class="col col-lg-2">
                            <button type="submit" class="btn btn-danger" formaction="/dish/delete/@dish.uuid">
                                <span class="glyphicon glyphicon-remove"></span> Delete </button>
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <label class="extra-info">Extra info: </label>
                        @b3.checkbox( dishForm("isVegetarian"), '_text -> "Vegetarian", 'checked -> dish.isVegetarian)
                        @b3.checkbox( dishForm("hasSeaFood"), '_text -> "Sea food", 'checked -> dish.hasSeaFood)
                        @b3.checkbox( dishForm("hasPork"), '_text -> "Pork", 'checked -> dish.hasPork)
                        @b3.checkbox( dishForm("hasBeef"), '_text -> "Beef", 'checked -> dish.hasBeef)
                        @b3.checkbox( dishForm("hasChicken"), '_text -> "Chicken", 'checked -> dish.hasChicken)
                        @b3.checkbox( dishForm("isGlutenFree"), '_text -> "Gluten free", 'checked -> dish.isGlutenFree)
                        @b3.checkbox( dishForm("hasLactose"), '_text -> "Lactose", 'checked -> dish.hasLactose)
                    </div>
                </div>
                }
            }
        }
    </div>
</div>
}
