@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.DishForm

@(admin: User, dishForm: Form[DishForm], dishOption: Option[Dish])(implicit messages: MessagesProvider)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main("Dish details", admin) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes()">All dishes</a></li>
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getNewDish()">Create new</a></li>
    <li role="presentation" class="active"><a data-toggle="tab" href="#dishDetails">Dish details</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dishDetails">
        <br>
        @dishOption match {
            case None => { <label>Error retrieving the dish!!</label> }
            case Some(dish) => {
                @b4.form(lunatech.lunchplanner.controllers.routes.DishController.saveDishDetails(dish.uuid)) {
                <div class="row">
                    <div class="col col-lg-6">
                        @b4.text( dishForm("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Short dish name", Symbol("value") -> dish.name)
                        @b4.textarea( dishForm("description"), Symbol("_label") -> "Description",  Symbol("placeholder") -> "Dish description", Symbol("rows") -> 4, Symbol("value") -> dish.description)
                        @b4.text( dishForm("remarks"), Symbol("_label") -> "Additional remarks", Symbol("placeholder") -> "Optional", Symbol("value") -> dish.remarks.getOrElse(""))
                        <div class="col col-lg-2" style="padding-left: 0">
                            <a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes()" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span> Cancel </a>
                        </div>
                        <div class="col col-lg-2">
                        @b4.submit(Symbol("class") -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save }
                        </div>
                        <div class="col col-lg-2">
                            <button type="submit" class="btn btn-danger js-delete-confirmation" formaction="/dish/delete/@dish.uuid">
                                <span class="glyphicon glyphicon-remove"></span> Delete </button>
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <label class="extra-info">Extra info: </label>
                        @b4.checkbox( dishForm("isVegetarian"), Symbol("_text") -> "Vegetarian", Symbol("checked") -> dish.isVegetarian)
                        @b4.checkbox( dishForm("hasSeaFood"), Symbol("_text") -> "Sea food", Symbol("checked") -> dish.hasSeaFood)
                        @b4.checkbox( dishForm("hasPork"), Symbol("_text") -> "Pork", Symbol("checked") -> dish.hasPork)
                        @b4.checkbox( dishForm("hasBeef"), Symbol("_text") -> "Beef", Symbol("checked") -> dish.hasBeef)
                        @b4.checkbox( dishForm("hasChicken"), Symbol("_text") -> "Chicken", Symbol("checked") -> dish.hasChicken)
                        @b4.checkbox( dishForm("isGlutenFree"), Symbol("_text") -> "Gluten free", Symbol("checked") -> dish.isGlutenFree)
                        @b4.checkbox( dishForm("hasLactose"), Symbol("_text") -> "Lactose", Symbol("checked") -> dish.hasLactose)
                    </div>
                </div>
                }
            }
        }
    </div>
</div>
}
