@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.ListDishesForm

@(admin: User, listDishesForm: Form[ListDishesForm], listOfDishes: Array[Dish])(implicit messages: play.api.i18n.Messages)
@main("Dishes", admin, isUserAdmin = true) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getNewDish">Create new</a></li>
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All dishes</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            <label>List of dishes</label>
            @b3.form(lunatech.lunchplanner.controllers.routes.DishController.deleteDishes) {
                @for(index <- listOfDishes.indices) {
                    <div class="form-group" id="uuid">
                        <div class="checkbox">
                            <label for="@listOfDishes(index).uuid">
                                <input type="checkbox" id="uuid" name="uuid[]" value="@listOfDishes(index).uuid">
                                <a href="@lunatech.lunchplanner.controllers.routes.DishController.getDishDetails(listOfDishes(index).uuid)">@listOfDishes(index).name
                                <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </label>
                        </div>
                    </div>
                }
                @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-remove"></span> Delete selected }
            }
        </div>
    </div>
</div>

}
