@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.ListDishesForm

@(admin: User, listDishesForm: Form[ListDishesForm], listOfDishes: Array[Dish])(implicit messages: MessagesProvider, flash: play.api.mvc.Flash)
@main("Dishes", admin) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All dishes</a></li>
    <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getNewDish">Create new</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            @flash.get("success").map { message =>

                <div class="alert alert-success alert-dismissable">
                    @message
                </div>
            }

            @b3.form(lunatech.lunchplanner.controllers.routes.DishController.deleteDishes) {
                <table class="table" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Extra info</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    @for(index <- listOfDishes.indices) {
                        <tr>
                            <td class="list-select"><input type="checkbox" value="@listOfDishes(index).uuid" name="uuid[@index]"></td>
                            <td>
                                <a href="@lunatech.lunchplanner.controllers.routes.DishController.getDishDetails(listOfDishes(index).uuid)">@listOfDishes(index).name</a>
                            </td>
                            <td>@listOfDishes(index).description</td>

                            <td>
                                @if(listOfDishes(index).isVegetarian) {
                                    <label class="font-normal">Vegetarian</label> <br>
                                }
                                @if(listOfDishes(index).hasSeaFood) {
                                    <label class="font-normal">Sea food</label> <br>
                                }
                                @if(listOfDishes(index).hasPork) {
                                    <label class="font-normal">Pork</label> <br>
                                }
                                @if(listOfDishes(index).hasBeef) {
                                    <label class="font-normal">Beef</label> <br>
                                }
                                @if(listOfDishes(index).hasChicken) {
                                    <label class="font-normal">Chicken</label> <br>
                                }
                                @if(listOfDishes(index).isGlutenFree) {
                                    <label class="font-normal">Gluten free</label> <br>
                                }
                                @if(listOfDishes(index).hasLactose) {
                                    <label class="font-normal">Lactose</label> <br>
                                }
                            </td>
                            <td>@listOfDishes(index).remarks</td>
                        </tr>
                    }
                </table>
                @b3.submit('class -> "btn btn-danger js-delete-confirmation"){ <span class="glyphicon glyphicon-remove"></span> Delete selected }
            }
        </div>
    </div>
</div>

}
