@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.DishForm

@(admin: User, dishForm: Form[DishForm])(implicit messages: MessagesProvider)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main("New dish", admin) {
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes()">All dishes</a></li>
        <li role="presentation" class="active"><a data-toggle="tab" href="#newDish">Create new</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="newDish">
            <br>
            @b4.form(lunatech.lunchplanner.controllers.routes.DishController.createNewDish()) {
                <div class="row">
                    <div class="col col-lg-6">
                        @b4.text( dishForm("name"), Symbol("_label") -> "Name", Symbol("placeholder") -> "Short dish name" )
                        @b4.textarea( dishForm("description"), Symbol("_label") -> "Description",  Symbol("placeholder") -> "Dish description", Symbol("rows") -> 4)
                        @b4.text( dishForm("remarks"), Symbol("_label") -> "Additional remarks", Symbol("placeholder") -> "Optional" )
                        <br>
                        @b4.submit(Symbol("class") -> "btn btn-primary"){ <span class="glyphicon glyphicon-plus"></span> Create }
                    </div>
                    <div class="col col-lg-6">
                        @b4.checkbox( dishForm("isVegetarian"), Symbol("_text") -> "Vegetarian" )
                        @b4.checkbox( dishForm("hasSeaFood"), Symbol("_text") -> "Sea food")
                        @b4.checkbox( dishForm("hasPork"), Symbol("_text") -> "Pork")
                        @b4.checkbox( dishForm("hasBeef"), Symbol("_text") -> "Beef")
                        @b4.checkbox( dishForm("hasChicken"), Symbol("_text") -> "Chicken")
                        @b4.checkbox( dishForm("isGlutenFree"), Symbol("_text") -> "Gluten free")
                        @b4.checkbox( dishForm("hasLactose"), Symbol("_text") -> "Lactose")
                    </div>
                </div>
            }
        </div>
    </div>
}
