@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.viewModels.DishForm

@(admin: User, dishForm: Form[DishForm])(implicit messages: play.api.i18n.Messages)
@main("New dish", admin) {
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes">All dishes</a></li>
        <li role="presentation" class="active"><a data-toggle="tab" href="#newDish">Create new</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="newDish">
            <br>
            @b3.form(lunatech.lunchplanner.controllers.routes.DishController.createNewDish) {
                <div class="row">
                    <div class="col col-lg-6">
                        @b3.text( dishForm("name"), '_label -> "Name", 'placeholder -> "Short dish name" )
                        @b3.textarea( dishForm("description"), '_label -> "Description",  'placeholder -> "Dish description", 'rows -> 4)
                        @b3.text( dishForm("remarks"), '_label -> "Additional remarks", 'placeholder -> "Optional" )
                        <br>
                        @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-plus"></span> Create }
                    </div>
                    <div class="col col-lg-6">
                        <label class="extra-info">Extra info: </label>
                        @b3.checkbox( dishForm("isVegetarian"), '_text -> "Vegetarian" )
                        @b3.checkbox( dishForm("hasSeaFood"), '_text -> "Sea food")
                        @b3.checkbox( dishForm("hasPork"), '_text -> "Pork")
                        @b3.checkbox( dishForm("hasBeef"), '_text -> "Beef")
                        @b3.checkbox( dishForm("hasChicken"), '_text -> "Chicken")
                        @b3.checkbox( dishForm("isGlutenFree"), '_text -> "Gluten free")
                        @b3.checkbox( dishForm("hasLactose"), '_text -> "Lactose")
                    </div>
                </div>
            }
        </div>
    </div>
}
