@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.MenuWithDishes
@import lunatech.lunchplanner.viewModels.ListMenusForm

@(admin: User, listMenusForm: Form[ListMenusForm], listOfMenus: Array[MenuWithDishes])(implicit messages: play.api.i18n.Messages)
@main("Menus", admin, isUserAdmin = true) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All menus</a></li>
    <li role="presentation"><a href="@lunatech.lunchplanner.controllers.routes.MenuController.getNewMenu">Create new</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            <label>List of menus</label>
            @b3.form(lunatech.lunchplanner.controllers.routes.MenuController.deleteMenus) {
                @for(index <- listOfMenus.indices) {
                    <div class="form-group" id="uuid">
                        <div class="checkbox">
                            <label for="@listOfMenus(index).uuid">
                                <input type="checkbox" id="uuid" name="uuid[@index]" value="@listOfMenus(index).uuid">
                                <a href="@lunatech.lunchplanner.controllers.routes.MenuController.getMenuDetails(listOfMenus(index).uuid)">@listOfMenus(index).name
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </label>
                        </div>
                    </div>
                    <div class="list">
                        @for(dishIndex <- listOfMenus(index).listOfDishes.indices) {
                            <label class="font-normal font-size-12">@listOfMenus(index).listOfDishes(dishIndex).name</label> <br>
                        }
                    </div>
                }
                <br>
                @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-remove"></span> Delete selected }
            }
        </div>
    </div>
</div>

}

