@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.MenuWithDishes
@import lunatech.lunchplanner.viewModels.MenuForm

@(admin: User, menuForm: Form[MenuForm], listOfDishes: Array[Dish], listOfMenus: Array[MenuWithDishes])(implicit messages: play.api.i18n.Messages)
@main("Menus", admin, isUserAdmin = true) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation"><a href="@lunatech.lunchplanner.controllers.routes.MenuController.getNewMenu">Create new</a></li>
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All menus</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            <label>List of menus</label>
            @for(index <- listOfMenus.indices) {
                @b3.checkbox( menuForm("uuid"), '_text -> listOfMenus(index).name, 'value -> listOfDishes(index).uuid)
                @for(dishIndex <- listOfMenus(index).listOfDishes.indices) {
                    <label style="font-weight: normal">@listOfMenus(index).listOfDishes(dishIndex).name</label> <br>
                    }
            }
        </div>
    </div>
</div>

}

