@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.MenuWithDishes
@import lunatech.lunchplanner.viewModels.ListMenusForm

@(admin: User, listMenusForm: Form[ListMenusForm], listOfMenus: Array[MenuWithDishes])(implicit messages: play.api.i18n.Messages, flash: play.api.mvc.Flash)
@main("Menus", admin) {
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#list">All menus</a></li>
    <li role="presentation"><a href="@lunatech.lunchplanner.controllers.routes.MenuController.getNewMenu">Create new</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
        <div>
            <br>
            @flash.get("success").map { message =>

                <div class="alert alert-info alert-dismissable">
                    @message
                </div>
            }
            @b3.form(lunatech.lunchplanner.controllers.routes.MenuController.deleteMenus) {
                <table class="table" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Menu name</th>
                            <th>Menu dishes</th>
                        </tr>
                    </thead>
                    @for(index <- listOfMenus.indices) {
                        <tr>
                            <td class="list-select"><input type="checkbox" value="@listOfMenus(index).uuid" name="uuid[@index]"></td>
                            <td>
                                <a href="@lunatech.lunchplanner.controllers.routes.MenuController.getMenuDetails(listOfMenus(index).uuid)">@listOfMenus(index).name</a>
                            </td>
                            <td>
                                @for(dishIndex <- listOfMenus(index).listOfDishes.indices) {
                                    <label class="font-normal">@listOfMenus(index).listOfDishes(dishIndex).name</label> <br>
                                }
                           </td>
                        </tr>
                    }
                </table>
                @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-remove"></span> Delete selected }
            }
        </div>
    </div>
</div>

}

