@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.Dish
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.Menu
@import lunatech.lunchplanner.viewModels.DishForm
@import lunatech.lunchplanner.viewModels.MenuForm
@import lunatech.lunchplanner.viewModels.MenuPerDayForm

@(admin: User, dishForm: Form[DishForm], menuForm: Form[MenuForm], listOfDishes: Array[Dish], listOfMenus: Array[Menu],  menuPerDayForm: Form[MenuPerDayForm], menuOptions: Seq[(String,String)])(implicit messages: play.api.i18n.Messages)
@main("Overview", admin, "admin") {
    <div id="Wrapper">
        <div id="Container">
            <div class="Left">
                <div class="col">

                    <h1>Manage dishes and menus</h1>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a data-toggle="tab" href="#dishes">Dishes</a></li>
                        <li role="presentation"><a data-toggle="tab" href="#menus">Menus</a></li>
                        <li role="presentation"><a data-toggle="tab" href="#menuPerDay">Scheduling of menus</a></li>
                    </ul>

                        <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Dishes -->
                        <div role="tabpanel" class="tab-pane active" id="dishes">
                            <div>
                                <br>
                                <label>Create new dish</label>
                                @helper.form(lunatech.lunchplanner.controllers.routes.DishController.createNewDish) {
                                    @b3.text( dishForm("name"), '_label -> "Name", 'placeholder -> "Short dish name" )
                                    @b3.text( dishForm("description"), '_label -> "Description",  'placeholder -> "Dish description")
                                    @b3.checkbox( dishForm("isVegetarian"), '_text -> "Is vegetarian" )
                                    @b3.checkbox( dishForm("hasSeaFood"), '_text -> "Has sea food")
                                    @b3.checkbox( dishForm("hasPork"), '_text -> "Has pork")
                                    @b3.checkbox( dishForm("hasBeef"), '_text -> "Has beef")
                                    @b3.checkbox( dishForm("hasChicken"), '_text -> "Has Chicken")
                                    @b3.checkbox( dishForm("isGlutenFree"), '_text -> "Is gluten free")
                                    @b3.checkbox( dishForm("hasLactose"), '_text -> "Has lactose")
                                    @b3.text( dishForm("remarks"), '_label -> "Additional remarks", 'placeholder -> "Optional" )
                                    @b3.submit('class -> "btn btn-primary"){ Create dish }
                                }
                            </div>
                            <div>
                                <br>
                                <label>List of dishes</label>
                                @for(index <- listOfDishes.indices) {
                                    @b3.checkbox( dishForm("dishesUuid[]"), '_text -> listOfDishes(index).name, 'value -> listOfDishes(index).uuid)
                                }
                            </div>
                        </div>

                        <!-- Menus -->
                        <div role="tabpanel" class="tab-pane" id="menus">
                            <div>
                                <br>
                                <label>Create new menu</label>
                                @helper.form(lunatech.lunchplanner.controllers.routes.MenuController.createNewMenu) {
                                    @b3.text( menuForm("menuName"), '_label -> "Name", 'placeholder -> "Short menu name" )

                                    @for(index <- listOfDishes.indices) {
                                        @b3.checkbox( dishForm("dishesUuid[]"), '_text -> listOfDishes(index).name, 'value -> listOfDishes(index).uuid)
                                    }
                                    @b3.submit('class -> "btn btn-primary"){ Create Menu }
                                }
                            </div>
                            <div>
                                <br>
                                <label>List of menus</label>
                                @for(index <- listOfMenus.indices) {
                                    @b3.checkbox( dishForm("uuid[]"), '_text -> listOfMenus(index).name, 'value -> listOfDishes(index).uuid)
                                }
                            </div>
                        </div>

                            <!-- Menus -->
                        <div role="tabpanel" class="tab-pane" id="menuPerDay">
                            <div>
                                <br>
                                <label>Associate a menu to a date</label>
                                @helper.form(lunatech.lunchplanner.controllers.routes.MenuPerDayController.createNewMenuPerDay) {
                                    @datepicker(menuPerDayForm("date"), 'value -> "2017-05-01")(
                                        '_label -> "Date")
                                    @b3.select(menuPerDayForm("menuUuid"), options = menuOptions, '_label -> "Select menu", '_default -> "Select an option")
                                    @b3.submit('class -> "btn btn-primary") { Associate menu with date }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
