@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.MenuWithNameWithDishesPerPerson
@import lunatech.lunchplanner.viewModels.MenuPerDayPerPersonForm

@(user: lunatech.lunchplanner.models.User, isUserAdmin: Boolean, listOfMenusPerDayPerPerson: Array[MenuWithNameWithDishesPerPerson], form: Form[MenuPerDayPerPersonForm])(implicit messages: play.api.i18n.Messages)
@main("Lunatech Lunch Planner", user, isUserAdmin) {

    <h2>What Lunatech will be feeding you</h2>
      <!-- Tab panes -->
        <!-- Meals -->
      <div role="tabpanel" class="tab-pane active" id="meals">
        @helper.form(lunatech.lunchplanner.controllers.routes.MenuPerDayPerPersonController.createNewMenuPerDayPerPerson) {
          @for(index <- listOfMenusPerDayPerPerson.indices) {
            @b3.checkbox( form("menuPerDayUuid[" + index + "]"), '_text -> (listOfMenusPerDayPerPerson(index).menuDate + " " +listOfMenusPerDayPerPerson(index).menuName), 'value -> listOfMenusPerDayPerPerson(index).menuPerDayUuid, 'checked -> listOfMenusPerDayPerPerson(index).isSelected)
            @for(dishIndex <- listOfMenusPerDayPerPerson(index).listOfDishes.indices) {
              <label class="font-normal">@listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).name</label> <br>
            }
          }
          @b3.submit('class -> "btn btn-primary"){ Save selected meals }
        }
      </div>
}
