@(clientId: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link href="@routes.Assets.at("stylesheets/main.css")" media="screen" rel="stylesheet" type="text/css" />
        <script src="@controllers.routes.Assets.at("javascripts/jquery-1.10.1.min.js")" type="text/javascript"></script>
          <script src="@controllers.routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script src="@controllers.routes.Assets.at("javascripts/googleCallback.js")"></script>

    </head>


    <body>
        <div id="corner_logo">
            <div class="login-presentation">
                Brought to you by
            </div>
            <img class="logo-login" src="@controllers.routes.Assets.at("images/lunatech_logo.png")"/>
        </div>



    <div id="Header">
        <div id="Tabs">
            <ul id="MainTabs">


            </ul>
        </div>
    </div>


    <div id="Wrapper">
    <div id="Container">

        <div class="Left full-width" >

            <div class="col">

            <form class="login-form">

                    <h2>Lunatech Lunch Application</h2>

                    <p class="description">You must be a Lunatech employee with a valid Google account to use this software. <br/>
                        </p>

                    <div id="signinButton">
                        <span class="g-signin"
                            data-scope="email"
                            data-clientid=@clientId
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-approvalprompt="force"
                            data-callback="signInCallback">
                        </span>
                    </div>
                    <div id="result"></div>
                </form>

            </div>
        </div>
    </div>
    </div>
</body>
</html>
