@(title: String, currentUser: lunatech.lunchplanner.models.User, isUserAdmin: Boolean)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("stylesheets/main.css")" media="screen" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" media="screen" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.at("stylesheets/simple-sidebar.css")" media="screen" rel="stylesheet" type="text/css" />
        <link href="@routes.Assets.at("stylesheets/bootstrap-datepicker3.min.css")" media="screen" rel="stylesheet" type="text/css" />
        <script src="@routes.Assets.at("javascripts/jquery-1.10.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.min.js")" type="text/javascript"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script src="@routes.Assets.at("javascripts/googleCallback.js")"></script>
    </head>

<body>
    <div id="wrapper" class="toggled">
            <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div id="corner_logo">
                    <div style="padding-left: 20px; font-size:x-small;color: #BBB; font-family: Arial;text-shadow: 0px 1px 0px black;">Brought to you by</div>
                    <img style="padding-left: 20px; width:150px" src="@routes.Assets.at("images/lunatech_logo.png")"/>
                </div>
                <li>
                    <a href="#">Logged in as @currentUser.name</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">Meal Planner</a>
                </li>
                <li>
                    <a href="@lunatech.lunchplanner.controllers.routes.Application.index">Planned meals</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                @if(isUserAdmin) {
                    <li>
                        <a href="#">Admin</a>
                    </li>
                    <li>
                        <a href="@lunatech.lunchplanner.controllers.routes.DishController.getAllDishes">Dishes</a>
                    </li>
                    <li>
                        <a href="@lunatech.lunchplanner.controllers.routes.MenuController.getAllMenus">Menus</a>
                    </li>
                    <li>
                        <a href="@lunatech.lunchplanner.controllers.routes.MenuPerDayController.getAllMenusPerDay">Schedules</a>
                    </li>
                }
                <li class="logout">
                    <a href="@lunatech.lunchplanner.controllers.routes.Authentication.logout">Log out</a>
                </li>
            </ul>
        </div>
            <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div class="row">
                    <div>
                    @content
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
