@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.MenuWithNameWithDishesPerPerson
@import lunatech.lunchplanner.viewModels.MenuPerDayPerPersonForm
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.Dish

@(user: User, listOfMenusPerDayPerPerson: Array[MenuWithNameWithDishesPerPerson], form : Form[MenuPerDayPerPersonForm])(implicit messages: MessagesProvider, flash: play.api.mvc.Flash)
@main("Lunatech Lunch Planner", user) {

    <h2>Planned meals by Lunatech</h2>

    <div>
        <br>
        @flash.get("success").map { message =>
            <div class="alert alert-success alert-dismissable">
                @message
            </div>
        }
        @flash.get("error").map { message =>
            <div class="alert alert-danger alert-dismissable">
                @message
            </div>
        }
        @helper.form(lunatech.lunchplanner.controllers.routes.MenuPerDayPerPersonController.createNewMenuPerDayPerPerson, 'id -> "formAttendance") {
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Response<br/>
                                <select class="select" id="set-all">
                                    <option></option>
                                    <option>Attend all:Rotterdam</option>
                                    <option>Attend all:Amsterdam</option>
                                    <option>Not Attending</option>
                                </select>
                            </th>
                            <th class="list-date">Date</th>
                            <th>Menu name</th>
                            <th>Menu details</th>
                            <th>Extra info</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    @listOfMenusPerDayPerPerson.groupBy(_.menuDate).toSeq.sortBy(m => new java.text.SimpleDateFormat("dd-MM-yyyy").parse(m._1).getTime).map { schedulesByDate =>
                    <tr>
                        <td rowspan="@schedulesByDate._2.length">
                            <select name="menuPerDayUuids[]" class="select select-@schedulesByDate._1">
                                <option class="select-empty"></option>
                                @schedulesByDate._2.map { s =>
                                    <option class="location-@s.location" value="@s.menuPerDayUuid" @if(s.isAttending == Some(true)) { selected } > @s.menuName:@s.location</option>
                                }
                                <option class="select-not-attending" value="@schedulesByDate._2.map(_.menuPerDayUuid).mkString("~")" @if(schedulesByDate._2.map(_.isAttending).contains(Some(false))) { selected }>Not Attending</option>
                            </select>
                        </td>
                        <td rowspan="@schedulesByDate._2.length">
                            <label class="font-normal label-date">@schedulesByDate._1</label>
                        </td>
                    @schedulesByDate._2.zipWithIndex.map { scheduleDetails =>
                        @if(scheduleDetails._2 != 0) {
                        <tr>
                        }
                            <td>
                                @scheduleDetails._1.menuName
                            </td>
                            <td>
                            @scheduleDetails._1.listOfDishes.map { dish =>
                                <label class="font-normal">@dish.name: @dish.description </label> <br>
                            }
                            </td>
                            <td>
                            @scheduleDetails._1.listOfDishes.map { dish =>
                                @Dish.getDishExtraDetails(dish).map { detail =>
                                    <label class="font-normal">@detail</label> <br>
                                }
                            }
                            </td>
                            <td class="js-menu-location" value="@scheduleDetails._1.location">
                                <label class="font-normal">@scheduleDetails._1.location</label>
                            </td>
                        @if(scheduleDetails._2 != 0) {
                        </tr>
                        }
                    }
                    </tr>
                }
                </table>
            </div>
            @b3.submit('class -> "btn btn-primary") {
                <span class="glyphicon glyphicon-ok"></span> Save selected meals
            }
        }
    </div>
}
