@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.MenuWithNameWithDishesPerPerson
@import lunatech.lunchplanner.viewModels.MenuPerDayPerPersonForm
@import lunatech.lunchplanner.models.User

@(user: User, listOfMenusPerDayPerPerson: Array[MenuWithNameWithDishesPerPerson], form: Form[MenuPerDayPerPersonForm])(implicit messages: play.api.i18n.Messages, flash: play.api.mvc.Flash)
@main("Lunatech Lunch Planner", user) {

    <h2>What Lunatech will be feeding you</h2>
    <div>
      <br>
      @flash.get("success").map { message =>
        <div class="alert alert-success alert-dismissable">
          @message
        </div>
      }
      @flash.get("error").map { message =>
        <div class="alert alert-danger alert-dismissable">
          @message
        </div>
      }
      @helper.form(lunatech.lunchplanner.controllers.routes.MenuPerDayPerPersonController.createNewMenuPerDayPerPerson, 'id -> "formAttendance") {
        <table class="table" >
          <thead>
            <tr>
              <th><input type="checkbox" id="select-all" /> Attending<br/></th>
              <th class="list-date">Date</th>
              <th>Menu name</th>
              <th>Menu details</th>
              <th>Extra info</th>
              <th>Location</th>
            </tr>
          </thead>
          @for(index <- listOfMenusPerDayPerPerson.indices) {
            <tr class="schedule-row">
              <td class="list-select-all">
                <input type="checkbox" class="schedule"
                value="@listOfMenusPerDayPerPerson(index).menuPerDayUuid"
                name="menuPerDayUuid[@index]" data-date="@listOfMenusPerDayPerPerson(index).menuDate"
                @if(listOfMenusPerDayPerPerson(index).isSelected) { checked } >
              </td>
              <td class="js-menu-date" value="@listOfMenusPerDayPerPerson(index).menuDate"><label class="font-normal">@listOfMenusPerDayPerPerson(index).menuDate</label></td>
              <td><label class="font-normal">@listOfMenusPerDayPerPerson(index).menuName</label></td>
              <td>
                @for(dishIndex <- listOfMenusPerDayPerPerson(index).listOfDishes.indices) {
                  <label class="font-normal">@listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).name: @listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).description </label> <br>
                  }
              </td>
              <td>
              @for(dishIndex <- listOfMenusPerDayPerPerson(index).listOfDishes.indices) {
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).isVegetarian) {
                  <label class="font-normal">Vegetarian</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).hasSeaFood) {
                  <label class="font-normal">Sea food</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).hasPork) {
                  <label class="font-normal">Pork</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).hasBeef) {
                  <label class="font-normal">Beef</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).hasChicken) {
                  <label class="font-normal">Chicken</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).isGlutenFree) {
                  <label class="font-normal">Gluten free</label> <br>
                }
                @if(listOfMenusPerDayPerPerson(index).listOfDishes(dishIndex).hasLactose) {
                  <label class="font-normal">Lactose</label> <br>
                }
              }
              </td>
              <td class="js-menu-location" value="@listOfMenusPerDayPerPerson(index).location">@listOfMenusPerDayPerPerson(index).location</td>
            </tr>
          }
        </table>
        @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save selected meals }
      }
    </div>
}
