@import b3.vertical.fieldConstructor
@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.UserProfile
@import lunatech.lunchplanner.viewModels.ProfileForm

@(user: User, profileForm: Form[ProfileForm], userProfile: UserProfile)(implicit messages: MessagesProvider, flash: play.api.mvc.Flash)

@main("Profile", user) {

  @flash.get("success").map { message =>
    <div class="alert alert-success alert-dismissable">
      @message
    </div>
  }

  @flash.get("error").map { message =>
    <div class="alert alert-danger alert-dismissable">
      @message
    </div>
  }

  <label class="extra-info">Name: </label>
  <label class="font-normal">@user.name </label>
  <br>
  <label class="extra-info">Email address: </label>
  <label class="font-normal">@user.emailAddress </label>
  <br><br>

  @b3.form(lunatech.lunchplanner.controllers.routes.ProfileController.saveProfile) {
    <div class="no-left-padding col col-lg-6" style="padding-left: 0">
      <label class="extra-info">Diet restrictions: </label> <br>
      <label class="font-normal">** Please use this space for real diet restrictions and not diet preferences **</label><br>
      @b3.checkbox( profileForm("vegetarian"), '_text -> "Vegetarian", 'checked-> userProfile.vegetarian)
      @b3.checkbox( profileForm("seaFoodRestriction"), '_text -> "Sea food allergic", 'checked-> userProfile.seaFoodRestriction)
      @b3.checkbox( profileForm("porkRestriction"), '_text -> "Don't eat Pork", 'checked-> userProfile.porkRestriction)
      @b3.checkbox( profileForm("beefRestriction"), '_text -> "Don't eat Beef", 'checked-> userProfile.beefRestriction)
      @b3.checkbox( profileForm("chickenRestriction"), '_text -> "Don't eat Chicken", 'checked-> userProfile.chickenRestriction)
      @b3.checkbox( profileForm("glutenRestriction"), '_text -> "Gluten allergic", 'checked-> userProfile.glutenRestriction)
      @b3.checkbox( profileForm("lactoseRestriction"), '_text -> "Lactose allergic", 'checked-> userProfile.lactoseRestriction)
      @b3.text( profileForm("otherRestriction"), '_label -> "Any other important food allergy", 'placeholder -> "Optional", 'value -> userProfile.otherRestriction.getOrElse(""))

      @b3.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save }
    </div>
  }
}

