@import lunatech.lunchplanner.models.User
@import lunatech.lunchplanner.models.UserProfile
@import lunatech.lunchplanner.viewModels.ProfileForm

@(user: User, profileForm: Form[ProfileForm], userProfile: UserProfile)(implicit messages: MessagesProvider, flash: play.api.mvc.Flash)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main("Profile", user) {

  @flash.get("success").map { message =>
    <div class="alert alert-success alert-dismissable">
      @message
    </div>
  }

  @flash.get("error").map { message =>
    <div class="alert alert-danger alert-dismissable">
      @message
    </div>
  }

  <label class="extra-info">Name: </label>
  <label class="font-normal">@user.name </label>
  <br>
  <label class="extra-info">Email address: </label>
  <label class="font-normal">@user.emailAddress </label>
  <br><br>

  @b4.form(lunatech.lunchplanner.controllers.routes.ProfileController.saveProfile()) {
    <div class="no-left-padding col col-lg-6" style="padding-left: 0">
      <label class="extra-info">Diet restrictions: </label> <br>
      <label class="font-normal">** Please use this space for real diet restrictions and not diet preferences **</label><br>
      @b4.checkbox( profileForm("vegetarian"), Symbol("_text") -> "Vegetarian", Symbol("checked")-> userProfile.vegetarian)
      @b4.checkbox( profileForm("seaFoodRestriction"), Symbol("_text") -> "Sea food allergic", Symbol("checked")-> userProfile.seaFoodRestriction)
      @b4.checkbox( profileForm("porkRestriction"), Symbol("_text") -> "Don't eat pork", Symbol("checked")-> userProfile.porkRestriction)
      @b4.checkbox( profileForm("beefRestriction"), Symbol("_text") -> "Don't eat beef", Symbol("checked")-> userProfile.beefRestriction)
      @b4.checkbox( profileForm("chickenRestriction"), Symbol("_text") -> "Don't eat chicken", Symbol("checked")-> userProfile.chickenRestriction)
      @b4.checkbox( profileForm("glutenRestriction"), Symbol("_text") -> "Gluten intolerant", Symbol("checked")-> userProfile.glutenRestriction)
      @b4.checkbox( profileForm("lactoseRestriction"), Symbol("_text") -> "Lactose intolerant", Symbol("checked")-> userProfile.lactoseRestriction)
      @b4.text( profileForm("otherRestriction"), Symbol("_label") -> "Any other important food allergies:", Symbol("placeholder") -> "Optional", Symbol("value") -> userProfile.otherRestriction.getOrElse(""))

      @b4.submit(Symbol("class") -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Save }
    </div>
  }
}

